@mixin theme-light {
    /* Color theme: Tomorrow */
    --foreground: #4d4d4c;
    --background: #ffffff;
    --selection: #d6d6d6;
    --line: #efefef;
    --comment: #8e908c;
    --red: #c82829;
    --orange: #f5871f;
    --yellow: #eab700;
    --green: #718c00;
    --aqua: #3e999f;
    --blue: #4271ae;
    --purple: #8959a8;
    --window: #efefef;
}

@mixin theme-dark {
    /* Color theme: Tomorrow Night */
    --foreground: #c5c8c6;
    --background: #1d1f21;
    --selection: #373b41;
    --line: #282a2e;
    --comment: #969896;
    --red: #cc6666;
    --orange: #de935f;
    --yellow: #f0c674;
    --green: #b5bd68;
    --aqua: #8abeb7;
    --blue: #81a2be;
    --purple: #b294bb;
    --window: #4d5057;
}

:root {
    color-scheme: light dark;
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    :root {
        @include theme-light;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @include theme-dark;
    }
}

:root[data-theme="light"] {
    @include theme-light;
}

:root[data-theme="dark"] {
    @include theme-dark;
}

:root {
    --radius: 1em;
    --sans-serif: system-ui, sans-serif;
    --opacity: 60%;
    --blur_radius: 6px;
    --background-url: url(https://placehold.co/1920x1080);
}

html,
body {
    width: 100%;
}

body {
    margin: 0;
    color: var(--foreground);
    font-family: var(--sans-serif);

    background-color: var(--background);
    background: url(https://placehold.co/1920x1080) no-repeat center center fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 20em;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: var(--line);
    background-color: color-mix(in srgb, var(--line) var(--opacity), transparent);
    backdrop-filter: blur(var(--blur_radius));

    margin: 2em 1em;
    padding: 2.5em 2em;
    border-radius: var(--radius);
    gap: 2em;
}

.section {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: .6em;
}

.header-block {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .icon {
        --width: 8em;

        text-align: center;
        width: var(--width);
        aspect-ratio: 1 / 1;
        margin: 0 0 1.2em 0;

        img {
            width: var(--width);
            height: var(--width);
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 50%;
        }

        i {
            font-size: var(--width);
            color: var(--text-color);
        }
    }

    .text {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: .6em;


        h1 {
            margin: 0;
            font-weight: 800;
            font-size: 1.6em;
            line-height: 1;
        }

        p {
            margin: 0;
            font-weight: 600;
            font-size: 1.2em;
            line-height: 1;
        }
    }
}

.link-block {
    width: 80%;

    display: flex;
    align-items: center;

    color: var(--foreground);
    text-decoration: none;
    background-color: var(--selection);
    background-color: color-mix(in srgb, var(--selection) var(--opacity), transparent);
    backdrop-filter: blur(var(--blur_radius));
    transition: background-color 0.3s ease;

    border-radius: var(--radius);
    padding: .8em 1em;
    max-width: 100%;
    gap: .6em;

    &:hover {
        background-color: var(--selection);
        box-shadow: 0 0 1em var(--selection);
    }

    div.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3em;
        text-align: center;

        img {
            border-radius: 50%;
            width: 3em;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }

        i {
            font-size: 3em;
            width: 3em;
            text-align: center;
            color: var(--text-color);
            line-height: 1;
        }
    }

    div.text {
        width: 100%;

        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: .4em;

        h2 {
            font-weight: 600;
            font-size: 1.2em;
            line-height: 1;
            margin: 0;
        }

        p {
            font-size: .8em;
            margin: 0;
            line-height: 1;
        }
    }
}

.image-block {
    width: 100%;
    color: var(--foreground);
    text-decoration: none;
    background-color: var(--selection);
    backdrop-filter: blur(var(--blur_radius));
    transition: background-color 0.3s ease;

    align-items: center;

    padding: .6em .6em;
    border-radius: var(--radius);

    &:hover {
        background-color: var(--selection);
        box-shadow: 0 0 1em var(--selection);
    }

    .image {
        img {
            width: 100%;
            height: auto;
            border-radius: var(--radius);
            object-fit: cover;
        }
    }

    .text {
        p {
            color: var(--foreground);
            margin: 0;
            line-height: 1;
        }
    }
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .6em;

    h2 {
        font-weight: 600;
        font-size: 1.2em;
        margin: 0;
    }

    p {
        margin: 0;
    }

    ul,
    ol {
        margin: 0;
        text-align: left;
    }
}

.footer-block {
    p {
        margin: 0;
        line-height: 1;
    }
}

summary {
    font-size: 1.2em;
}

details[open]>summary {
    margin-bottom: .6em;
}

small {
    font-size: .8em;
}

a {
    color: var(--blue);
    text-decoration: none;
}